<div class="row">
  <div class="col">
    <h1>
      Angular Signals Introduction
    </h1>
  </div>
</div>
<div class="row">
  <div class="col">Counter Signal Value: {{ counter() }}</div>
</div>

<div class="row">
  <div class="col">Computed Signal Value: {{ computedCounter() }}</div>
</div>

<div class="row">
  <div class="col">Object Signal Course Title: {{ course().title }}</div>
</div>

<div class="row">
  <div class="col">
    <button class="button" (click)="increment()">Increase</button>
  </div>
</div>